<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bejegyzés</title>
</head>
<body>
    <h1 th:text="${post.id == null} ? 'Új bejegyzés' : 'Bejegyzés szerkesztése'"></h1>
    <form th:action="@{/posts}" th:object="${post}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>Cím:</label>
        <input type="text" th:field="*{title}" required/><br>
        <label>Tartalom:</label>
        <textarea th:field="*{content}" rows="5" cols="30" required></textarea><br>
        <button type="submit">Mentés</button>
    </form>
    <a th:href="@{/posts}">Vissza</a>
</body>
</html>
